# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
hush

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build output
build/bin/
dist/

# OS
.DS_Store
Thumbs.db
